@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-forest: #0a3323;
  --color-forest-light: #123f2c;
  --color-sage: #839958;
  --color-cream: #f7f4d5;
  --color-rose: #d3968c;
  --color-teal: #105666;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
